.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.footer svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer .body-footer {
  position: absolute;
  bottom: -5rem; 
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  padding: 10px;
  background: #0C1116;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: white;
}

.footer:hover .body-footer {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-10px);
}

.footer:hover svg {
  transform: translateY(-10px);
}
