@import url("/src/styles/components/button.css"); 

.container-fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center; 
  background: transparent;
  height: 2.4rem;
}

#len1, #len2, #len3, #len4 {
  margin: 0 1rem;
}
