@import url('/src/styles/components/sidebar.css');

@media (max-width: 720px) and (max-height: 1480px) {
    .nav-list {
        gap: 1.2rem; 
        padding: .15rem; 
        margin-left: .15rem;

    }
    
    .nav-list li a {
        padding: 8px 0; /* Ajusta o padding do link */
    }
}

