.nav-list {
    display: flex; 
    flex-direction: column; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 2.4rem; 
    height: 100%; 
    align-items: center; 
    justify-content: center; 
}

.nav-list li {
    margin-bottom: 1rem; 
}

.svg-ico:hover path {
    fill: white; 

}   

@media (max-width: 720px) {
    .nav-list {
        display: flex; 
        flex-direction: column; 
        list-style: none; 
        padding: 0; 
        margin: 0; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 1.8rem; 
        height: 100vh; 
        align-items: center; 
        justify-content: center; 
    }

    .nav-list li {
        margin-bottom: 1rem; 
        width: 100%; 
        text-align: center; 
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

    .nav-list a {
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 100%; 
        color: white; 
        padding: 0.5rem; 
        text-decoration: none; 
    }

    .nav-list a i { 
        font-size: 1.2rem; 
    }
}

