header {
    /* padding-left: 1rem; */
    text-align: left;
    margin: .1rem 1.2rem 1.2rem;
}

body {
    margin: 20px;
    border-radius: 5px;
    border: 0.5px solid #3C444C;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

main{
    margin: 1.2rem;
    border-top: 2.5px solid #3C444C;
    border-bottom: 2.5px solid #3C444C;
    text-align: left;
}


/* border-top: 1px solid #3C444C;
border-bottom: 2.5px solid #3C444C;  */