
    
.bg-dark-contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.contact-form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    width: 100%; 
    text-align: center; 
}

.form {
    padding: 1.7rem; 
    width: 100%; 
    max-width: 520px; 
    box-sizing: border-box; 
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-control{
    width: 100%; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border-radius: 5px; 
    border: none;
    border: solid 1px #ccc;
}

.text-center {
    margin-bottom: .1rem;
    margin-top: 0;
}

.paragraph-center {
    text-align: left; 
    width: 29rem;
}

@container banner (min-width: 720px) {
    .contact-form 
    {
        height: 100%; 
        padding: 1rem; 
    }
    
    .form {
        padding: 2.5rem; 
        
    }

    .mb-3 {
        margin-bottom: 0.7rem;
    }

    .text-center {
        
        margin-bottom: 0.6rem;
    }

    .paragraph-center {
        text-align: left;
        width: 27rem;
    }
}
