@import url("./modulos/header.css");
@import url("./modulos/footer.css");
@import url("./modulos/sidebar.css");

.bg-dark-index {
    margin-top: 2.5rem;
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: -15px;
}